//###############################################
// FONTS
//###############################################

@font-face {
    font-family: 'scriptinaregular';
    src: url('../fonts/scriptina-webfont.eot');
    src: url('../fonts/scriptina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scriptina-webfont.woff2') format('woff2'),
         url('../fonts/scriptina-webfont.woff') format('woff'),
         url('../fonts/scriptina-webfont.ttf') format('truetype'),
         url('../fonts/scriptina-webfont.svg#scriptinaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaaregular';
    src: url('../fonts/Comfortaa_Regular-webfont.eot');
    src: url('../fonts/Comfortaa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Comfortaa_Regular-webfont.woff2') format('woff2'),
         url('../fonts/Comfortaa_Regular-webfont.woff') format('woff'),
         url('../fonts/Comfortaa_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Comfortaa_Regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaathin';
    src: url('../fonts/Comfortaa_Thin-webfont.eot');
    src: url('../fonts/Comfortaa_Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Comfortaa_Thin-webfont.woff2') format('woff2'),
         url('../fonts/Comfortaa_Thin-webfont.woff') format('woff'),
         url('../fonts/Comfortaa_Thin-webfont.ttf') format('truetype'),
         url('../fonts/Comfortaa_Thin-webfont.svg#comfortaathin') format('svg');
    font-weight: normal;
    font-style: normal;

}

//###############################################
// VARIABLES
//###############################################

$plateheight: 25%;
$darkpink: #996F7C;
$midpink: #AE8886;
$lightpink: #D5AA9F;
$lightestpink: #F8E0D8;
$textcolor: #3F2730;
$textpink: #F8E0D8;
$textlightpink: #F7EFED;
$backcolour: lightgrey;
$darkblue: #33426A;

//###############################################
// GLOBALS
//###############################################

html, body{
	// background-color:#BFC2C9;
	background-color: $backcolour;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: $textcolor;
}

.page{
	height: 100%;
	width: 100%;
}

.nameplate h1{
	font-size: 24px;
	font-family: "scriptinaregular";
}

.platetitle h1{
	font-size:30px;
	font-family:"comfortaathin";
	letter-spacing:2px;
}

.nameplate p{
	font-family:"comfortaaregular";
	letter-spacing:2px;
}

.contentplate p{
	font-family:"comfortaaregular";
}

//###############################################
// NAMEPLATE
//###############################################

.nameplate{
	position: absolute;
	background-color: $lightestpink;
	width: 0px;
	height: 0px;
	top: 50%;
	left: 50%;
	text-align: center;
	overflow: hidden;
	z-index: 4;
	.big-name{
		width: 100%;
		position: absolute;
		font-size: 7em;
		color: #fff;
		display: none;
		left: -5%;
		height: 100%;
		top: -15%;
		font-family: "scriptinaregular";
		opacity: 0.5;
		letter-spacing: -2px;
		text-align: left;
		span{
			margin-left: -75px;
		}
	}
	.content{
		position: relative;
		width: 90%;
		margin: 0 auto;
		height: 100%;
		h1{
			font-size: 2.8em;
			letter-spacing: -2px;
		}
		p, h1{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%,0);
			display: inline;
			opacity: 0;
			text-align: left;
			transition: left 1s ease, transform 1s ease;
			&.animated{
				transform: translate(0,0);
				left:0;
			}
		}
		p{
			top: 65%;
			font-size: 1.125em;
		}
	}
}

//###############################################
// GENERIC PLATE
//###############################################

.contentplate{
	position: absolute;
	top: -100%;
	height: $plateheight;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 0;
  	padding-top: 1%;
	transition: all 1s ease;
	&:hover{
		.platetitle h1{
			left: 10%;
			color: $textpink;
		}
		.platetitle-arrow{
			&::before, &::after{
				width: 42px;
				background-color: $textpink;
			}
		}
		.platetitle-arrow-small{
			left: 5.6%;
		}
	}
	&.active{
		cursor: default;
		height: 60%;
		padding-top: 0.5%;
		.platetitle h1{
			top: 40px;
			color: $textpink;
		}
		.platetitle-arrow, .platetitle-arrow-small{
			display: none;
		}
		&:hover{
			.platetitle h1{
				left: 8%;
			}
		}
	}
	&.mini{
		height: 10%;
		padding-top: 0.5%;
		.platetitle h1{
			top: 50%;
		}
	}
}

.platetitle{
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	margin: 0 auto;
	h1{
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
		left: 8%;
		transition: color 0.3s ease, left 0.3s ease, top 1.5s ease;
		font-size: 2.25em;
	}
}

.platetitle-arrow{
	width: 30px;
	height: 60px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(0, -50%);
	&::before, &::after{
		width: 17px;
		height: 2px;
		background-color: $textcolor;
		content: '';
		position: absolute;
		top: 50%;
		transition: all 0.3s ease;
	}
	&::before{
		transform: rotate(45deg);
		transform-origin: right center;
		margin-top: 1px;
	}
	&::after{
		transform: rotate(-45deg);
		transform-origin: right center;
		margin-bottom: 1px;
	}
}

.platetitle-arrow-small{
	width: 30px;
	height: 60px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: -10%;
	transform: translate(0, -50%);
	transition: all 0.3s ease;
	&::before, &::after{
		width: 17px;
		height: 2px;
		background-color: $textpink;
		content: '';
		position: absolute;
		top: 50%;
		transition: all 0.3s ease;
	}
	&::before{
		transform: rotate(45deg);
		transform-origin: right center;
		margin-top: 1px;
	}
	&::after{
		transform: rotate(-45deg);
		transform-origin: right center;
		margin-bottom: 1px;
	}
}
//###############################################
// WORK PLATE
//###############################################
.workcontent{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	.slide-window {
	  width: 100%;
	  height: 100%;
	  position: relative;
	  overflow: hidden;
	  .slide-container {
		    width: 300%;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: -100%;
		    .outer-slide{
			  width: 33.3333333333%;
			  height: 100%;
			  float: left;
			  transition: all 0.3s ease;
			  position: relative;
			  	.work-description{
			  		color: $textlightpink;
				  	width: 460px;
				  	height: 200px;
				  	position: absolute;
				  	text-align: right;
				  	right: 95px;
				  	bottom: 50px;
				  	z-index: 10;
				  	.slide-title{
				  		margin-bottom: 25px;
				  		font-size: 1.5em;
				  		text-transform: uppercase;
				  	}
				  	.slide-text{
				  		padding-top: 25px;
				  		border-top: 1px solid $lightestpink;
				  	}
				}
				.inner-slide{
					width: 100%;
					height: 300%;
					position: absolute;
					top: -100%;
					.slide{
						width: 100%;
						height: 33.33333333%;
						transition: all 0.3s ease;
					}
				}
			}
			.slide1a{
			  background: url('http://www.businessdestinations.com/wp-content/uploads/2013/12/Tokyo-Main-Image.jpg');
			  background-size: cover;
			  background-position: center center;
			}
			.slide1b{
			  background: url('http://rushtravellifestyle.com/wp-content/uploads/2014/05/Miami-Memorial-Day.jpg');
			  background-size: cover;
			  background-position: center center;
			}
			.slide1c{
			  background: url('http://www.mixxedfit.com/wp-content/uploads/2014/08/2013_10_Las-Vegas-Night-HD-Wallpaper3.jpg');
			  background-size: cover;
			  background-position: center center;
			}
			.slide2a{
			  background: url('http://rushtravellifestyle.com/wp-content/uploads/2014/05/Miami-Memorial-Day.jpg');
			  background-size: cover;
			  background-position: center center;
			}
			.slide2b{
			  background: url('http://www.mixxedfit.com/wp-content/uploads/2014/08/2013_10_Las-Vegas-Night-HD-Wallpaper3.jpg');
			  background-size: cover;
			  background-position: center center;
			}
			.slide2c{
			  background: url('http://www.businessdestinations.com/wp-content/uploads/2013/12/Tokyo-Main-Image.jpg');
			  background-size: cover;
			  background-position: center center;
			}
			.slide3a{
			  background: url('http://www.mixxedfit.com/wp-content/uploads/2014/08/2013_10_Las-Vegas-Night-HD-Wallpaper3.jpg');
			  background-size: cover;
			  background-position: center center;
			}
			.slide3b{
			  background: url('http://www.businessdestinations.com/wp-content/uploads/2013/12/Tokyo-Main-Image.jpg');
			  background-size: cover;
			  background-position: center center;
			}
			.slide3c{
			  background: url('http://rushtravellifestyle.com/wp-content/uploads/2014/05/Miami-Memorial-Day.jpg');
			  background-size: cover;
			  background-position: center center;
			}
		}
		.button{
		  width: 70px;
		  height: 70px;
		  border-radius: 50%;
		  background-color: $lightestpink;
		  position: absolute;
		  top: 50%;
		  transform: translate(0, -50%);
		  z-index: 10;
		  transition: all 0.3s ease;
		  cursor: pointer;
		  &::before, &::after{
		  	position: absolute;
			top: 50%;
		  	content: '';
		  	width: 18px;
		  	height: 2px;
		  	background-color: $textcolor;
		  }
		  &:hover{
		  	background-color: $lightpink;
		  }
		}
		.next{
		  right: -35px;
		  &::before, &::after{
		  	right: 57%;
		  }
		  &::before{
		  	transform: rotate(40deg);
		  	transform-origin: right center;
		  }
		  &::after{
		  	transform: rotate(-40deg);
		  	transform-origin: right center;
		  }
		}
		.previous{
		  left: -35px;
		  &::before, &::after{
		  	left: 57%;
		  }
		  &::before{
		  	transform: rotate(-40deg);
		  	transform-origin: left center;
		  }
		  &::after{
		  	transform: rotate(40deg);
		  	transform-origin: left center;
		  }
		}
	}
}

.workplate{
	z-index: 3;
	.platetitle{
		background-color: $lightpink;
	}
	&.active{
		cursor: default;
		.platetitle{
			cursor: default;
		}
	}
}

.close-button{
	width: 35px;
	height: 35px;
	background-color: $lightestpink;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 20;
	cursor: pointer;
	transition: all 0.3s ease;
	&::before{
		position: absolute;
		margin: 0;
		padding: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -52%);
		color: $textcolor;
		font-size: 2em;
		content:'\00d7';
	}
	&:hover{
		background-color: $lightpink;
	}
}

//###############################################
// ABOUT PLATE
//###############################################

.aboutcontent{
	width: 100%;
	display: none;
	color: $textlightpink;
	.column-one, .column-two{
		width: 50%;
		height: 100%;
		margin-top: 140px;
		display: inline-block;
	}
	.column-one{
		// margin-right: 75px;
		float: left;
		.column-one-text{
			border-bottom: 1px solid $lightestpink;
			padding-bottom: 55px;
			margin-bottom: 30px;
			margin-left: 15%;
			margin-right: 7.5%;
		}
		a{
			text-decoration: none;
			font-family:"comfortaaregular";
			font-size:1.5em;
			color: $textlightpink;
			padding-left: 15%;
		}
	}
	.column-two{
		float: right;
		p{
			margin-left: 7.5%;
			margin-right: 7.5%;
			margin-bottom: 16px;
		}
		.column-two-text{
			border-bottom: 1px solid $lightestpink;
			padding-bottom: 55px;
		}
		ul{
			margin-left: 7.5%;
			li{
				display: inline;
				a{
					text-decoration: none;
				}
				svg{
					fill: $textpink;
				}
			}
		}
		
	}
	// position: absolute;
	// left: 50%;
	// top: 50%;
	// transform: translate(-50%,-50%);
	// width: 70%;
	// text-align: center;
	// display: none;
	// p,a{
	// 	margin-bottom: 10px;
	// }
	// li{
	// 	display: inline;
	// 	a{
	// 		text-decoration: none;
	// 	}
	// 	svg{
	// 		height: 20px;
	// 	}
	// }
}

.aboutplate{
	z-index: 2;
	.platetitle{
		background-color: $midpink;
	}
}

//###############################################
// CONTACT PLATE
//###############################################

.contactplate{
	z-index: 1;
	.platetitle{
		background-color: $darkpink;
	}
}

.contactcontent{
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: none;
	p{
		margin-bottom: 10px;
	}
	form{
		text-align: center;
	}
	fieldset{
		margin: 0 0 10px 0;
		label{
			font-family: "comfortaaregular";
			width: 50%;
			float: left;
			text-align: right;
			margin-right: 0.5em;
			display: block
		}
		input{
			float: left;
			width: 40%;
		}
		textarea{
			float: left;
			width: 40%;
			height: 100px;
		}
		.email-button{
			width: 20%;
			position: absolute;
			left: 50%;
			transform: translate(-50%,0);
		}
	}
}